<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fun Habit Tracker</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Fun Habit Tracker</h1>
        <nav>
            <ul>
                    <li><a asp-controller="Home" asp-action="Today">Heute</a></li>
            <li><a asp-controller="Habits" asp-action="Index">Alle Habits</a></li>
            <li><a asp-controller="Habits" asp-action="Create">Neues Habit</a></li>
        </ul>ul>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2023 Fun Habit Tracker</p>
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
